export("chipArrayStatistics")
export("log2TransformPositive")
export("bacgroundCorrect")
export("writeBackgroundImages")
export("plotBackgroundImageBeforeCorrection")
export("plotBackgroundImageAfterCorrection")
export("nonPositiveCorrect")
export("varianceBeadStabilise")
export("quantileNormalize")
export("doTTests")
export("doProbeTTests")
export("createSummarizedMatrix")
importMethodsFrom(Biobase, pData)
importMethodsFrom(BiocGenerics, cbind, colnames, is.unsorted, ncol,
                  nrow, order, paste, rbind, sapply, sort, table,
                  unique)
importFrom(beadarray, setWeights)
importFrom(grDevices, dev.off, jpeg, png, postscript, setEPS)
importFrom(stats, aggregate, cor, median, p.adjust, sd, t.test)
importFrom(graphics, plot)